@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

body {
  min-width: 1020px;
  margin: 0;
  padding: 0;

  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 21.56px;
  font-weight: 400;
  word-wrap: break-word;
  color: #767e9e;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 940px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 17.86px;
  font-weight: 900;
  text-transform: capitalize;
  color: #666d89;
  letter-spacing: -0.2px;
}

.section-description {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: -0.22px;
  text-align: justify;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio .wrapper {
  padding-top: 70px;
  padding-bottom: 67px;
}

.portfolio .section-title {
  margin-bottom: 27px;
}

.portfolio .section-description {
  margin-bottom: 10px;
  
  color: #767e9e;
}

.tag-list {
  margin-left: 1px;
  margin-bottom: 21px;
}

.tag {
  margin: 0;
  margin-right: 8px;
  padding: 2px 7px 3px 6px;

  font-size: 12px;
  line-height: 21.56px;
  text-transform: capitalize;
  color: #767e9e;

  border: 1px solid #767e9e;
  border-radius: 5px;

  cursor: pointer;
}

.tag:nth-child(2) {
  padding-right: 7px;
  margin-right: 7px;
}

.tag:nth-child(3) {
  margin-right: 7px;
  padding-left: 5px;
  padding-right: 6px;
}

.tag:nth-child(4) {
  padding-right: 4px;
}

.tag-active {
  color: #dedede;
  border-color: #dedede;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 601px;
  overflow: hidden;
}

.portfolio-item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 187px;
}

.portfolio-item:nth-child(4n) {
  margin-right: 0;
}